:root {
    --font-family-main: Roboto, sans-serif;
    --font-family-secondary: Raleway, sans-serif;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --bcg-color: #fff;
    --line-header: #ECECEC;
    --logo-color: #000000;
    --hero-bcg: #C4C4C4;
    --white-text: #FFFFFF;
    --btn-hover: #188CE8;
    --bcg-footer: #2F303A;
    --adr-color: rgba(255, 255, 255, 0.6);
    --secondary-bcg: #F5F4FA;
    --icon-color: #AFB1B8;
    --space-icons: 10px;
    --timing-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --icon-color-socials: #FFFFFF;
    --card-set-gap: 30px;
}