.btn {
    min-width: 200px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    color: var(--white-text);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    @include font (16px, 700, 30px);
    cursor: pointer;

    transition: background-color var(--timing-duration) var(--timing-function);

    &:hover {
        background-color: var(--btn-hover);
    }
}

