.menu__list .current {
    position: relative;
    color: var(--accent-color);
    padding-bottom: 32px;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }

}