.socials {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    &_Theme-White{
        margin-top: 16px;
    }

    &_Theme-Dark {
        margin-top: 20px;
    }

    &__link:not(:last-child) {
            margin-right: var(--space-icons);
        }

    &__icon {
            @extend %flex;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            fill: var(--icon-color);
    
            transition: background-color var(--timing-duration) var(--timing-function), fill var(--timing-duration) var(--timing-function);
    
            &_theme-dark {
                fill: var(--icon-color-socials);
                background-color: rgba(255, 255, 255, 0.1)
            }
    
            &:hover,
            &:focus {
                background-color: var(--accent-color);
                fill: var(--icon-color-socials);
            }
        }
}

