
:root {
    --card-set-gap: 30px;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --bcg-color: #fff;
    --line-header: #ECECEC;
    --logo-color: #000000;
    --hero-bcg: #C4C4C4;
    --white-text: #FFFFFF;
    --btn-hover: #188CE8;
    --bcg-footer: #2F303A;
    --adr-color: rgba(255, 255, 255, 0.6);
    --secondary-bcg:#F5F4FA; 
    --icon-color: #AFB1B8;
    --space-icons: 10px;
    --timing-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --icon-color-socials: #FFFFFF;
}
body {
    background-color: var(--bcg-color);
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
    font-size: 14px;  
 
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
   }
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
   }
  
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
img{
    display: block;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}


/*========= хэдер =======*/
.header-container{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
    align-items: center;
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom:1px solid var(--line-header);
    background-color: var(--bcg-color);
}
.logo {
    margin-right: 93px;
    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none; 
}
.logo-web {
    color: var(--accent-color);
}
.nav-list:not(:last-child){
    margin-right: 50px;
}
.site-nav .link {
    color: var(--title-text-color);
    font-weight:500;

    transition: color var(--timing-duration) var(--timing-function);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .current{
    position: relative;
    color: var(--accent-color);
    padding-bottom: 32px;
}
.nav-list .current::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}

.contacts{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.email-header{
    display: flex;
    margin-right: 50px;
}
.phone-header{
    display: flex;
}
 .contacts .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;

    transition: color var(--timing-duration) var(--timing-function);
 }
 .contacts .item:hover, 
 .contacts .item:focus {
    color: var(--accent-color);
 }
.icon-contact{
    --icon-color: currentColor;
align-items: center;
margin-right: var(--space-icons);
}

/* ========= main ========*/

.hero{
    width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-bcg);
   background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
    background-repeat: no-repeat;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.hero-title{
    width: 696px;
    margin-bottom: 30px;
    color: var(--white-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn {
    min-width: 216;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: inherit;
    color: var(--white-text);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em; 

    transition: background-color var(--timing-duration) var(--timing-function);
}
.btn:hover {
    background-color: var(--btn-hover);
}
.set{
    display: flex;
    flex-wrap: wrap;
}
.strength-element{
    flex-basis: calc((100%-90px)/4);
    max-width: 270px;
}
.strength-element:not(:nth-child(4)){
    margin-right:var(--card-set-gap);
}
.strength-element>.title{
    margin-bottom: 10px;
}
.strength-icon-bcg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-bcg) ;
}

.list .title{
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.list .text{
    line-height: 1.7;
    color: var(--main-text-color);
}
.secondary-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);

}
.job-section{
    padding-top: 0;
}
.jobs{
    display: flex;
    flex-wrap: wrap;
}
.jobs-kind{
    position: relative;
    flex-basis: calc((100%-60px)/3);
    max-width: 370px;
}
.jobs-kind:nth-child(-n+2){
    margin-right: var(--card-set-gap);
}

.label{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}
.team-bcg{
    padding: 94px 0;
    background-color: var(--secondary-bcg) ;
}
.team{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.team>.element{
    max-width: 270px;
    flex-basis: calc((100%-90px)/4);
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
}
.team .title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
    text-transform: capitalize;
}
.team .text{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--main-text-color);
}
.element .name {
    padding-top: 30px;
    padding-bottom: 30px;
}
.socials{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    list-style: none;
}


.link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-color);

    transition: background-color var(--timing-duration) var(--timing-function), fill var(--timing-duration) var(--timing-function);
}

.link-icon:hover,
.link-icon:focus{
  background-color: var(--accent-color);  
  fill: var(--icon-color-socials);
}

.margin-icon:not(:last-child){
    margin-right: var(--space-icons);
}
.box-client{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);

    transition: border var(--timing-duration) var(--timing-function), fill var(--timing-duration) var(--timing-function);
}
.box-client:hover,
.box-client:focus{
   border: 1px solid var(--accent-color);
   fill: var(--accent-color);
}

.icon-thumb{
    justify-content: center;
}
.icon-thumb-list{
    width: 170px;
    height: 92px;
}
.gap:not(:last-child){
    margin-right: var(--card-set-gap);
}

 /*======== футер ======== */
 .footer {
   
    background-color: var(--bcg-footer);
    padding-bottom: 60px;
    padding-top: 60px;
 }
 .position-footer{
  
    display: flex;
    align-items: baseline;
    width: 1200px;
 }
.logo-footer{
    display: inline-block;
    margin-bottom: 20px;
}
 .logo-studio {
    color: var(--white-text)
 }
 .addr-mgn{
    margin-bottom: 9px;
 }
.addr .item {
    text-decoration: none;
    color: var(--adr-color);
    font-style: normal;
    line-height: 1.8;

    transition: color var(--timing-duration) var(--timing-function);
}
.addr .item:hover,
.addr .item:focus {
    color: var(--accent-color);
}
.addr .map {
    color: var(--white-text);
}
.first-column{
    margin-right: 70px;
}
.second-column{
    color:#FFFFFF;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}
.join-footer{
    display: flex;
    margin-top: 20px;
}
.social-link-footer{
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color var(--timing-duration) var(--timing-function);
}
.social-link-footer .social-icon-footer{
    fill: #fff;
}
.space-socials-footer:not(:last-child){
    margin-right: var(--space-icons);
}
.social-link-footer:hover,
.social-link-footer:focus{
    background-color: var(--accent-color)
}

.footer-form{
    min-width: 570px;
    margin-left: 92px;
    
}

.footer-label{
  display: block;
  margin-bottom: 20px;

font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
color: var(--white-text);
}
.footer-form input{
width: 358px;
height: 50px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 16px;
margin-right: 12px;
background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.footer-form input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    color: var(--adr-color);
}
.footer-subscription-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: 200px;
    height: 50px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer-subscription-button>svg{
    margin-left: 10px;
}
.wrapper-input-button{
    display: flex;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
        justify-content: center;
        align-items: center;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--timing-duration) var(--timing-function), visibility var(--timing-duration) var(--timing-function);
   }

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
   }

   .backdrop.is-hidden .modal{
    transform: scale(140%);
   }
.modal{
    position: absolute;
    padding: 40px;
    width: 528px;
    height: 580px;
    background-color: #FFFFFF; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(100%);
    transition: transform var(--timing-duration) var(--timing-function);
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: transform var(--timing-duration) var(--timing-function), var(--timing-duration), var(--timing-function);
    }
    .icon-close-modal{
        transition: fill var(--timing-duration) var(--timing-function);
    }
    .icon-close-modal:hover,
    .icon-close-modal:focus{
     fill: var(--accent-color);
}
    .modal-form>b{
    display: block;
    width: 100%;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
    }
    .modal-contact-form{
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }

    .modal-contact-info {
        width: 100%;
        height: 40px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        transition: border-color var(--timing-duration) var(--timing-function);
    }
    .modal-contact-info:focus, 
        .modal-message:focus{
        outline: none;
        border-color: var(--accent-color);
    }
    .modal-contact-info-wrapper{
        position: relative;
        display: block;
        margin-top: 4px;
        margin-bottom: 10px;
    }
    .modal-contact-icon{
        position: absolute;
        left: 12px;
        top: 50%;
        fill: var(--title-text-color);
        transform: translateY(-50%);

        transition: fill var(--timing-duration) var(--timing-function);
        
    }
    .modal-contact-info:focus+.modal-contact-icon{
        fill: var(--accent-color);
    }

    .modal-message{
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        transition: border-color var(--timing-duration) var(--timing-function);
    }
    .modal-message::placeholder{
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    .modal-checkbox-text{
        display: flex;
        align-items: center;
        line-height: 1.71;
        color: var(--main-text-color);
    }

    .modal-checkbox-text::before{
        display: inline-block;
        content:"";
        width: 16px;
        height: 15px;
        margin-right: 8px;
        border: 2px solid var(--title-text-color);
        border-radius: 2px;
        cursor: pointer;
    }
    .accept-policy-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .modal-checkbox-accept:checked + .modal-checkbox-text::before{
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
        background-size:contain;
        background-repeat: no-repeat;
        background-origin: padding-box;
    }
    .modal-checkbox-accept:focus+.modal-checkbox-text::before{
        outline: 1px solid var(--accent-color);
    }
    .footer-email{
        color: var(--white-text);
    }
    .modal-submit-button{
        display: block;
        margin: 0 auto;
        min-width: 200px;
        height: 50px;
        padding: 10px 52px;

        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        cursor: pointer;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--white-text);

        transition: background var(--timing-duration) var(--timing-function);
    }

    .modal-submit-button:hover,
    .modal-submit-button:focus{
        background: var(--btn-hover);
    }
/* ====== Стoрінка Портфолио ==========*/

.filter-container{
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
}
.filter-position{
    margin-right: 8px;
}
.filter-position:last-child {
    margin-right: 0;
}
.filter{
    padding: 6px 22px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--secondary-bcg);
    border-radius: 4px;
    border: none;

    transition: color var(--timing-duration) var(--timing-function), background var(--timing-duration) var(--timing-function), box-shadow var(--timing-duration) var(--timing-function);
}

.filter:hover,
.filter:focus {
    background: var(--accent-color);
    color: var(--white-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.cursor {
    cursor: pointer;
}
.project{
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
}
.project-item{
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);

    transition: box-shadow var(--timing-duration) var(--timing-function);
 
}

.project-border{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.project .title{
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    text-transform: capitalize;
}
.project .text{
    font-size: 16px;
    line-height: 1.9;
    color: var(--main-text-color);
}
.list .link{
    text-decoration: none;
}
.link{
    color: var(--accent-color);
}
.portfolio-description-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-text);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--timing-duration) var(--timing-function);
}

.portfolio-overlay{
    position: relative;
    left: 0;
    top: 0;
   
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
   overflow: hidden;
}

.project-item:hover .portfolio-description-text{
    transform: translateY(0);
}

.project-item:hover{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}